services:
  - type: web
    name: keyez
    runtime: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn keyez_site.wsgi:application --bind 0.0.0.0:$PORT"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        sync: false
